<div class ="box centered w50">
  <h1>
    <div class="i48grad-error"></div>
    The page you were looking for doesn't exist
  </h1>
  <p>You may have mistyped the address or the page may have moved.</p>
  <hr/>
  <%= link_to 'Back', :back, :class =>"button white" %>
</div>